body{
    font-family:'Segoe UI', Tahoma,  Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
}
header .logo{
    font-weight: bold;
}
.nav-links a {
    padding-left: 10px;
    text-decoration: none;
    color: rgb(96, 93, 93);
    
}
.nav-links a:hover{
    color: black;
}

.header-buttons{
    padding-right: 20px;
}

.header-buttons button{
    padding: 10px 15px;
    border-radius: 8px ;
    border: 1px solid;
    margin-left: 12px;
  
}
.header-buttons button:hover{
    background-color: black;
    color: white;
}
